@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

td,
tr {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 15, 15, 15;
}

html {
  scroll-behavior: smooth !important;
  height: 100%;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: hsl(0, 0, 6);
  background: hsl(0, 0, 6);
  font-family: "Inter", "sans-serif";
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #424242; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #7b7b7b; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 3px solid #424242; /* creates padding around scroll thumb */
}

/* .scrollBarHide::-webkit-scrollbar {
  display: none;
}
.scrollBarHide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

h1 {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 700;
}

h2 {
  font-size: clamp(18px, 8vw, 24px);
  font-weight: 600;
}

h3 {
  font-size: clamp(14px, 8vw, 18px);
  font-weight: 600;
}

textarea,
input,
span,
p,
ul,
li {
  font-size: clamp(12px, 3vw, 14px);
}

h5 {
  font-size: clamp(14px, 3vw, 16px);
}

h6 {
  font-size: clamp(4px, 3vw, 14px);
}

.home-h1 {
  font-size: clamp(40px, 8vw, 64px);
}

.home-h5 {
  font-size: clamp(14px, 2vw, 16px);
}

.home-mask {
  -webkit-mask-image: url("../public/spotlight-highlight.svg");
  mask-image: url("../public/spotlight-highlight.svg");
  -webkit-mask-position: center;
  mask-position: center;
}

.home-right-mask {
  -webkit-mask-image: url("../public/home-right-line.svg");
  mask-image: url("../public/home-right-line.svg");
  mask-repeat: no-repeat;
}

.home-left-mask {
  -webkit-mask-image: url("../public/home-left-line.svg");
  mask-image: url("../public/home-left-line.svg");
  mask-repeat: no-repeat;
}

@keyframes home-right {
  99%,
  100% {
    transform: translateY(1000%);
  }
}
@keyframes home-left {
  30%,
  40% {
    transform: translate(90%, 280%) rotate(45deg);
  }
  40%,
  85% {
    transform: translate(-100%, 280%) rotate(90deg);
  }
  85%,
  100% {
    transform: translate(-300%, 280%) rotate(90deg);
  }
}

.home-right-animate {
  animation: home-right 5s linear infinite;
}
.home-left-animate {
  animation: home-left 5s linear infinite;
}
